@import url(../index.html);
main{
    background-color: white;
}
.container{
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 15px;
}
.nav{
    width: 100%;
    margin-bottom: 70px;
    margin-top: 32.82px;
    display: inline-block;
}
.nav__links{
    display: block;
    float: right;
}
.nav__links_a{
    margin-left: 60px;
    font-size: 18px;
    line-height: 24.59px;
    text-decoration: none;
    color: #121212;

}
.nav__links_a:hover{
    opacity: 50%;
    text-decoration-line: underline;
}


.initial{
    margin-bottom: 150px;
    display: block;

}

.initial__h1 {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 30px;
    width: 956px;
    letter-spacing: -0.03em;
}
.initial__img{
    position: relative;
    height:500px;
    background-image: url("../img/Rectangle 1.png");
    background-size: cover;
    background-position: 50%;
}
.initial__p{
    position: absolute;
    font-size: 20px;
    width: 430px;
    height: 81px;
    margin: 0%;  
    left: 40px;
    bottom: 40px;
    line-height: 27.32px;

    color: white;
    font-style: normal; 
}



.about{
    margin-bottom: 150px ;
    box-sizing: border-box;
}
.about__h2{
    width: 51px;
    height: 25px;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 24.59px;
}
.about__p{
    width: 1048px;
    margin-bottom: 30px;
    font-size: 45px;
    line-height: 61.47px;
    letter-spacing: -0.03em;
}
.about__button{
    width: 175px;
    height: 27px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;

    border-radius: 5px;
    font-size: 20px;
    font-family: Manrope, sans-serif;
    line-height: 27.32px ;
    letter-spacing: -0.03em;
    color: white;
    background-color: #AD1818;
    cursor: pointer;
    display: inline-block;   
    text-decoration: none;
}



.project{
    box-sizing: border-box;
    display: block;
}
.project__h2{
   margin-bottom: 30px;
   width: 79px;
   height: 25px;
   font-size: 18px;
   line-height: 24.59px;

}
.project__li{
    display: block;
    margin-bottom: 90px;
    width: 1150px;
    height: 548px;
}
.project__li_img{
    display: block;
    width: 1150px;
    margin-bottom: 15px;
}
.project__li_h3{
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 40.98px;
    display: block;
    
}
.project__li_a{
    font-size: 20px;
    font-weight: 400;
    line-height: 27.32px;
    color: #AD1818;
    text-decoration: none;
}
.project__a{
    width: 100%;
    margin-bottom: 150px;
    padding-top: 56px;
    padding-bottom: 56px;
    border: solid 1px;
    border-radius: 5px;
    border-color: #AD1818;
    display:  inline-block;
    text-align: center;
    font-size: 30px;
    line-height: 40.98px;
    color: #AD1818;
    text-decoration: none;
    box-sizing: border-box;
}
.project__a:hover{
    color: white;
    background-color: #AD1818;
}


.services{
    background-color: #121212;
    color: #FFFFFF;
}
.services__h2{
    padding-top: 151px;
    padding-bottom: 34px;
    font-size: 18px;
    line-height: 24.59px;
}
.services__ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 80.7px;
}
.services__li{
    width: calc(50% - 5px);
    position: relative;
    margin-bottom: 104px;
}
.services__li_button{
    height: 40px;
    padding: 5px 21px;
    border-radius: 5px;
    background-color: red;
    display: block;
    color: white;
    font-size: 22px;
    line-height: 30.05px;
    letter-spacing: -0.03em;
    position: absolute;
    top: 31px;
    left: 30px;
}
.services__li img{
    width: 100%;
    height: 388px;
    object-fit: cover;
}
.services__li_h3{
    margin-top: 15px;
    font-size: 30px;
    line-height: 40.98px;
}
.services__button{
    width: 100%;
    height: 153px;
    border-radius: 5px;
    background-color: #AD1818;
    color: white;
    font-size: 30px;
    line-height: 40.98px;
    letter-spacing: -0.03em;

}
.apartment{
    width: 100%;
    height: 717px;
    position: relative;
    background-image: url("../img/Rectangle 10.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}
.apartment__p{
    position: absolute;
    width: 443px;
    left: 125px;
    bottom: 60px;
    font-size: 30px;
    line-height: 40.98px;
    color:#FFFFFF;
}
.contacts{
    position: relative;
    width: 100%;
    height: 553px;
}
.contacts__content{
    display: block;
    position: absolute;
    left: 124px;
    bottom: 150px;
}
.contacts__content_h3{
    position: relative;
    display: block;
    font-size: 18px;
    line-height: 24.59px;
}
.contacts__content_h3:before{
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    bottom: 40px;
    left: -4px;
    position: absolute;
    background-image: url("../img/iphone.png");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}
.contacts__content_a{
    font-size: 60px;
    line-height: 60px;
    display: block;
    color:#121212;
    text-decoration: none;
}
.contacts__content_a:hover{
    opacity: 50%;
    text-decoration: underline;
}

.footer{
    height: 229px;
    background-color: #121212;
    color: #FFFFFF;
}
.footer__container{
    position: relative;
}
.footer__menu{
    width: 450px;
    margin: 0 auto;
    position: absolute;
    top: 60px;
    left: 350px;
    text-align: center;
}
.footer__menu_a{
    margin-right: 52px;
    font-size: 18px;
    line-height: 24.59px;
    text-decoration: none;
    color: #FFFFFF;
}
.footer__menu_a:nth-last-child(1){
    margin: 0;
}
.footer__menu_a:hover{
    opacity: 50%;
}
.footer__p{
    position: absolute;
    top: 172px;
    left: 381px;
    font-size: 20px;
    line-height: 27.32px;
    opacity: 50%;

}





body{
    margin: 0;
    padding: 0;
    font-family: Manrope , sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    display: block;
    letter-spacing: -0.03em;

}
@media (max-width: 1199px) {
    .initial {
        margin-bottom: 120px;
        margin-top: 128px;

    }
    .initial__img{
        height: 400px;
        width: 100%;
        background-image: url("../img/Rectangle-tablet.png");
    }
    .initial__h1{
        width: 100%;
    }
    .container{
        width: 100%;
        margin-left: 15px;
        margin-right: 15px;
        padding: 0;
    }
    .about__p{
        width: 100%;
        font-size: 35px;
        line-height: 47.81px;
    }
    .project__li{
        width: 100%;
        height: auto;
    }
    .project__li_img{
        height: 450px;
        max-width: 100%;
    }
    .project__li_h3{
        font-size: 25px;
        line-height: 34.15px;
        margin-bottom: 10px;
    }


}
@media (max-width: 500px) {
    .initial {
        margin-bottom: 80px;
        margin-top: 108px;

    }
    .initial__h1{
        font-size: 50px;
        line-height: 40px;
    }
    .initial__img{
        height: 304px;
        background-image: url("../img/Rectangle-phone.png");
    }
    .initial__p{
        left: 15px;
        bottom: 15px;
        height: 88px;
        width: 312px;
        font-size: 16px;
        line-height: 21.86px;
    }
    .about__h2{
        font-size: 14px;
        line-height: 19.12px;
    }
    .about__p{
        width: 100%;
        font-size: 22px;
        line-height: 30px;
    }
    .about__button{
        width: 140px;
        padding: 14.5px 27px;
        font-size: 16px;
        line-height: 21.86px;
    }
    .project__li_h3{
        font-size: 20px;
        line-height: 24.59px;
    }
    .project__li_a{
        font-size: 16px;
    }
    .project__a{
        padding-top: 37px;
        padding-bottom: 37px;
    }
    .project__li_img{
        height: 250px;
    }


    .container{
        width: 100%;
        margin-left: 13px;
        margin-right: 12px;
    }

}