@import url(../index.html);
main{
    background-color: white;
}
.container{
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 15px;
}
.nav{
    width: 100%;
    margin-bottom: 70px;
    margin-top: 32.82px;
    display: inline-block;
}
.nav__links{
    display: block;
    float: right;
}
.nav__links_a{
    margin-left: 60px;
    font-size: 18px;
    line-height: 24.59px;
    text-decoration: none;
    color: #121212;

}
.nav__links_a:hover{
    opacity: 50%;
    text-decoration-line: underline;
}


.initial{
    margin-bottom: 150px;
    display: block;

}

.initial__h1 {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 30px;
    width: 956px;
    letter-spacing: -0.03em;
}
.initial__img{
    position: relative;
    width: 1150px;
    height:500px;
    background-image: url("../img/Rectangle 1.png");
    background-size: cover;
}
.initial__p{
    position: absolute;
    font-size: 20px;
    width: 430px;
    height: 81px;
    margin: 0%;  
    left: 40px;
    bottom: 40px;
    line-height: 27.32px;

    color: white;
    font-style: normal; 
}



.about{
    margin-bottom: 150px ;
    box-sizing: border-box;
}
.about__h2{
    width: 51px;
    height: 25px;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 24.59px;
}
.about__p{
    width: 1048px;
    height: 366px;
    margin-bottom: 30px;
    font-size: 45px;
    line-height: 61.47px;
    letter-spacing: -0.03em;
}
.about__button{
    width: 175px;
    height: 27px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;

    border-radius: 5px;
    font-size: 20px;
    font-family: Manrope, sans-serif;
    line-height: 27.32px ;
    letter-spacing: -0.03em;
    color: white;
    background-color: #AD1818;
    cursor: pointer;
    display: inline-block;   
    text-decoration: none;
}



.project{
    box-sizing: border-box;
}
.project__h2{
   margin-bottom: 30px;
   width: 79px;
   height: 25px;
   font-size: 18px;
   line-height: 24.59px;

}
.project__li{
    display: block;
    margin-bottom: 90px;
    width: 1150px;
    height: 548px;
}
.project__li_img{
    display: block;
    width: 100%;
    margin-bottom: 15px;
}
.project__li_h3{
    height: 41px;
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 40.98px;
    display: block;
    
}
.project__li_a{
    font-size: 20px;
    font-weight: 400;
    line-height: 27.32px;
    color: #AD1818;
    text-decoration: none;
}
.project__a{
    width: 100%;
    margin-bottom: 150px;
    padding-top: 56px;
    padding-bottom: 56px;
    border: solid 1px;
    border-radius: 5px;
    border-color: #AD1818;
    display:  inline-block;
    text-align: center;
    font-size: 30px;
    line-height: 40.98px;
    color: #AD1818;
    text-decoration: none;
    box-sizing: border-box;
}
.project__a:hover{
    color: white;
    background-color: #AD1818;
}


.services{
    background-color: #121212;
    color: #FFFFFF;
}
.services__h2{
    padding-top: 151px;
    padding-bottom: 34px;
    font-size: 18px;
    line-height: 24.59px;
}
.services__li{
    margin-bottom: 60px;
}
.services__li:nth-last-child(1){
    padding-bottom: 150px;
    margin-bottom: 0;
}
.services__li_h3{
    margin-top: 15px;
    font-size: 30px;
    line-height: 40.98px;
}
.apartment{
    width: 100%;
    height: 717px;
    position: relative;
    background-image: url("../img/Rectangle 10.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}
.apartment__p{
    position: absolute;
    width: 443px;
    left: 125px;
    bottom: 60px;
    font-size: 30px;
    line-height: 40.98px;
    color:#FFFFFF;
}
.contacts{
    position: relative;
    width: 100%;
    height: 553px;
}
.contacts__content{
    display: block;
    position: absolute;
    left: 124px;
    bottom: 150px;
}
.contacts__content_h3{
    position: relative;
    display: block;
    font-size: 18px;
    line-height: 24.59px;
}
.contacts__content_h3:before{
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    bottom: 40px;
    left: -4px;
    position: absolute;
    background-image: url("../img/iphone.png");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}
.contacts__content_a{
    font-size: 60px;
    line-height: 60px;
    display: block;
    color:#121212;
    text-decoration: none;
}
.contacts__content_a:hover{
    opacity: 50%;
    text-decoration: underline;
}

.footer{
    height: 229px;
    background-color: #121212;
    color: #FFFFFF;
}
.footer__container{
    position: relative;
}
.footer__menu{
    width: 450px;
    margin: 0 auto;
    position: absolute;
    top: 60px;
    left: 350px;
    text-align: center;
}
.footer__menu_a{
    margin-right: 52px;
    font-size: 18px;
    line-height: 24.59px;
    text-decoration: none;
    color: #FFFFFF;
}
.footer__menu_a:nth-last-child(1){
    margin: 0;
}
.footer__menu_a:hover{
    opacity: 50%;
}
.footer__p{
    position: absolute;
    top: 172px;
    left: 381px;
    font-size: 20px;
    line-height: 27.32px;
    opacity: 50%;

}





body{
    margin: 0;
    padding: 0;
    background-color: rgba(219, 215, 215, 0.719);
    font-family: Manrope , sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    display: block;
    letter-spacing: -0.03em;

}