@import url(../index.html);
main{
    background-color: white;
}
.container{
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 15px;
}
h1, h2, h3, h4, h5, h6, p, li, button, a, div{
    letter-spacing: -0.03em;
}
.nav{
    width: 100%;
    margin-bottom: 70px;
    margin-top: 32.82px;
    display: inline-block;
}
.nav__links{
    display: block;
    float: right;
}
.nav__links_a{
    margin-left: 60px;
    font-size: 18px;
    line-height: 24.59px;
    text-decoration: none;
    color: #121212;

}
.nav__links_a:hover{
    opacity: 50%;
    text-decoration-line: underline;
}


.initial{
    margin-bottom: 150px;
    display: block;

}

.initial__h1 {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 30px;
    width: 956px;
    letter-spacing: -0.03em;
}
.initial__img{
    position: relative;
    height:500px;
    background-image: url("../img/Rectangle 1.png");
    background-size: cover;
    background-position: 50%;
}
.initial__p{
    position: absolute;
    font-size: 20px;
    width: 430px;
    height: 81px;
    margin: 0%;  
    left: 40px;
    bottom: 40px;
    line-height: 27.32px;

    color: white;
    font-style: normal; 
}



.about{
    margin-bottom: 150px ;
    box-sizing: border-box;
}
.about__h2{
    width: 51px;
    height: 25px;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 24.59px;
}
.about__p{
    width: 1048px;
    margin-bottom: 30px;
    font-size: 45px;
    line-height: 61.47px;
    letter-spacing: -0.03em;
}
.about__button{
    width: 175px;
    height: 27px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;

    border-radius: 5px;
    font-size: 20px;
    font-family: Manrope, sans-serif;
    line-height: 27.32px ;
    letter-spacing: -0.03em;
    color: white;
    background-color: #AD1818;
    cursor: pointer;
    display: inline-block;   
    text-decoration: none;
}



.project{
    box-sizing: border-box;
    display: block;
}
.project__h2{
   margin-bottom: 30px;
   width: 79px;
   height: 25px;
   font-size: 18px;
   line-height: 24.59px;

}
.project__li{
    display: block;
    margin-bottom: 90px;
    width: 1150px;
    height: 548px;
}
.project__li_img{
    display: block;
    width: 1150px;
    margin-bottom: 15px;
}
.project__li_h3{
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 40.98px;
    display: block;
    
}
.project__li_a{
    font-size: 20px;
    font-weight: 400;
    line-height: 27.32px;
    color: #AD1818;
    text-decoration: none;
}
.project__a{
    width: 100%;
    margin-bottom: 150px;
    padding-top: 56px;
    padding-bottom: 56px;
    border: solid 1px;
    border-radius: 5px;
    border-color: #AD1818;
    display:  inline-block;
    text-align: center;
    font-size: 30px;
    line-height: 40.98px;
    color: #AD1818;
    text-decoration: none;
    box-sizing: border-box;
}
.project__a:hover{
    color: white;
    background-color: #AD1818;
}


.services{
    background-color: #121212;
    color: #FFFFFF;
}
.services__h2{
    padding-top: 151px;
    padding-bottom: 34px;
    font-size: 18px;
    line-height: 24.59px;
}
.services__ul{
    margin-bottom: 104px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 80.7px;
}
.services__li{
    width: calc(50% - 5px);
    position: relative;
}
.services__li_button{
    padding: 5px 21px;
    border-radius: 5px;
    background-color: red;
    display: block;
    color: white;
    font-size: 22px;
    line-height: 30.05px;
    position: absolute;
    top: 31px;
    left: 30px;
    font-family: Manrope , sans-serif;
}
.services__li img{
    width: 100%;
    height: 388px;
    object-fit: cover;
}
.services__li_h3{
    margin-top: 15px;
    font-size: 30px;
    line-height: 40.98px;
}
.services__button{
    width: 100%;
    height: 153px;
    margin-bottom: 150px;
    border-radius: 5px;
    background-color: #AD1818;
    color: white;
    font-size: 30px;
    line-height: 40.98px;
    font-family: Manrope , sans-serif;

}
.coment{
    margin-top: 150px;
    margin-bottom: 150px;
}
.coment__h2{
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 100%;
}
.coment__row_h3{
    margin-bottom: 14px;
    font-size: 45px;
    line-height: 40px;
}
.coment__row_p{
    margin-top: 14px;
    font-size: 22px;
    line-height: 30px;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 50px;
}
.col{
    width: 530px;
}
.col_big{
    width: 75%;
}
.gallery-main{
    position: relative;
}
.gallery-main__title-wrapper{
    position: absolute;
    width: 100%;
    top: 60px;
    z-index: 100;
}
.gallery-main__title{
    position: absolute;
    color: #FFFFFF;
    font-size: 22px;

}
.gallery__slides{
    position: relative;
    height: 717px;
}
.gallery__slide{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
}
.gallery__slide_img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.gallery__slide_p{
    position: absolute;
    bottom: 60px;
    width: 417px;
    color: #FFFFFF;
    font-size: 30px;
    line-height: 38px;
}
.gallery__slide_active{
    opacity: 1;
}
.gallery__control-wrapper{
    position: absolute;
    width: 100%;
    bottom: 162px;
}
.gallery__controls{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    flex-direction: row;
    gap: 14px;
}
.gallery__control-prev:hover{
    opacity: 50%;
    cursor: pointer;
}
.gallery__control-next:hover{
    opacity: 50%;
    cursor: pointer;
}
.contacts{
    width: 100%;
    height: 459px;
    position: relative;
}
.contacts__content{
    position: absolute;
    top: 250px;
    display: flex;
    flex-wrap: wrap;
    gap: 104px;
}
.contacts__h3{
    position: absolute;
    top: 150px;
    font-size: 18px;

}
.contacts__content_a:before{
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    bottom: 80px;
    position: absolute;
    background-image: url("../img/iphone.png");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}
.contacts__content_a2:before{
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    bottom: 80px;
    position: absolute;
    background-image: url("../img/mail.png");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}
.contacts__content_a{
    position: relative;
    font-size: 60px;
    line-height: 60px;
    display: block;
    color:#121212;
    text-decoration: none;
}
.contacts__content_a2{
    position: relative;
    font-size: 60px;
    line-height: 60px;
    display: block;
    color:#121212;
    text-decoration: none;
}

.contacts__content_a:hover{
    opacity: 50%;
    text-decoration: underline;
}
.contacts__content_a2:hover{
    opacity: 50%;
    text-decoration: underline;
}





.footer{
    height: 229px;
    background-color: #121212;
    color: #FFFFFF;
}
.foot{
    padding-top: 60px;
}
.foot_links{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.foot_links_a{
    display: block;
    font-size: 18px;
    line-height: 24.59px;
    text-decoration: none;
    color: #FFFFFF;
}
.footer__menu_a:hover{
    opacity: 50%;
}
.footer__p{
    padding-top: 87px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    opacity: 50%;

}





body{
    margin: 0;
    padding: 0;
    font-family: Manrope , sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    display: block;
    letter-spacing: -0.03em;

}
@media (max-width: 1199px) {
    .initial {
        margin-bottom: 120px;
        margin-top: 128px;

    }
    .initial__img{
        height: 400px;
        width: 100%;
        background-image: url("../img/Rectangle-tablet.png");
    }
    .initial__h1{
        width: 100%;
        font-size: 50px;
    }
    .container{
        width: 100%;
        padding: 0;
    }
    .about__p{
        width: 100%;
        font-size: 35px;
        line-height: 47.81px;
    }
    .project__li{
        width: 100%;
        height: auto;
    }
    .project__li_img{
        height: 450px;
        max-width: 100%;
    }
    .project__li_h3{
        font-size: 25px;
        line-height: 34.15px;
        margin-bottom: 10px;
    }
    .services__li img{
        height: 315px;
    }
    .services__li_h3{
        font-size: 25px;
    }
    .services__ul{
        margin-bottom: 80px;
    }
    .services__li_button{
        font-size: 20px;
    }
    .services__button{
        margin-bottom: 120px;
    }
    .coment{
        margin-top: 120px;
        margin-bottom: 120px;
    }
    .row{
        margin-bottom: 80px;
    }
    .col{
        width: calc(50% - 5px);
    }
    .col_big{
        width: 75%;
    }
    .coment__h2{
        font-size: 18px;
    }
    .coment__row_h3{
        margin-bottom: 25px;
        font-size: 35px;
    }
    .coment__row_p{
        font-size: 20px;
    }
    .gallery-main__title{
        font-size: 20px;
        
    }
    .gallery-main__title-wrapper{
        top: 80px;
        left: 50px;

    }
    .gallery__controls{
        padding-left: 50px;
    }
    .gallery__slide_p{
        left:  50px;
        font-size: 25px;
        bottom: 80px;
    }
    .contacts__h3{
        top: 120px;
    }
    .contacts__content{
        top: 220px;
    }


}
@media (max-width: 650px) {
    .initial {
        margin-bottom: 80px;
        margin-top: 108px;

    }
    .initial__h1{
        font-size: 50px;
        line-height: 40px;
    }
    .initial__img{
        height: 304px;
        background-image: url("../img/Rectangle-phone.png");
    }
    .initial__p{
        left: 15px;
        bottom: 15px;
        height: 88px;
        width: 312px;
        font-size: 16px;
        line-height: 21.86px;
    }
    .about__h2{
        font-size: 14px;
        line-height: 19.12px;
    }
    .about__p{
        width: 100%;
        font-size: 22px;
        line-height: 30px;
    }
    .about__button{
        width: 140px;
        padding: 14.5px 27px;
        font-size: 16px;
        line-height: 21.86px;
    }
    .project__li_h3{
        font-size: 20px;
        line-height: 24.59px;
    }
    .project__li_a{
        font-size: 16px;
    }
    .project__a{
        padding-top: 37px;
        padding-bottom: 37px;
    }
    .project__li_img{
        height: 250px;
    }
    .services__h2{
        padding-top: 80px;
        padding-bottom: 20px;
        font-size: 14px;
    }
    .services__li{
        width: 100%;
    }
    .services__li_h3{
        font-size: 18px;
    }
    .services__li img{
        height: 240px;
    }
    .services__ul{
        margin-bottom: 60px;
    }
    .services__li_button{
        left: 24px;
        top: 23px;
        font-size: 14px;
    }
    .services__button{
        margin-bottom: 80px;
        font-size: 22px;
    }
    .coment{
        margin-top: 80px;
    }
    .col{
        width: 100%;
    }
    .coment__h2{
        font-size: 14px;
        margin-bottom: 22px;   
    }
    .coment__row_h3{
        margin-bottom: 10px;
        font-size: 25px;
    }
    .coment__row_p{
        font-size: 16px;
        
    }
    .gallery-main__title{
        font-size: 14px;
    }
    .gallery-main__title-wrapper{
        left: 14px;
        top: 60px;
    }
    .gallery__controls{
        padding-left: 14px;
    }
    .gallery__slide_p{
        left: 14px;
        bottom: 60px;
    }
    .contacts__h3{
        top: 80px;
        font-size: 14px;

    }
    .contacts__content{
        top: 150px;
        flex-direction: column;
    }
    .contacts__content_a{
        font-size: 35px;
        line-height: 45.62px;
    }
    .contacts__content_a2{
        font-size: 35px;
        line-height: 45.62px;
    }
    .contacts__content_a:before{
        bottom: 50px;
    }
    .contacts__content_a2:before{
        bottom: 50px;
    }

    .footer{
        height: 131px;
    }
    .foot{
        padding-top: 30px;
    }
    .foot_links{
        gap: 30px;
    }
    .foot_links_a{
        font-size: 12px;
    }
    .footer__p{
        padding-top: 41px;
        font-size: 13px;
    }

    .container{
        width: 100%;
    }

}