@import url(../index.html);
main{
    width: 1400px;
    margin: 0 auto;
    background-color: white;
}
.blok1{
    margin-left: 125px;
    margin-bottom: 150px;
    margin-top: 128px;
    margin-right: 125px;
    width: 1150px;
    display: block;

}

.blok1__h1 {
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 30px;
    width: 956px;
    letter-spacing: -0.03em;
}
.blok1__img{
    position: relative;
    width: 1150px;
    height:500px;
    background-image: url("../img/Rectangle 1.png");
    background-size: cover;
}
.blok1__p{
    position: absolute;
    font-weight: 400;
    font-size: 20px;
    width: 430px;
    height: 81px;
    margin: 0%;  
<<<<<<< HEAD
    left: 40px;
    bottom: 40px;
=======
    padding: 379px 680px 40px 40px;
>>>>>>> 34f02284fc64af632a086717b05391c2d74d4cc2
    letter-spacing: -0.03em;
    line-height: 27.32px;

    color: white;
    font-style: normal; 
}



.blok2{
    width: 1051px;
    height: 518px;
    margin-left: 125px;
    margin-bottom: 150px ;
    margin-right: 224px;
    box-sizing: border-box;
    display: inline-block;
}
.blok2__h2{
    width: 51px;
    height: 25px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24.59px;
    letter-spacing: -0.03em;
}
.blok2__p{
    width: 1048px;
    height: 366px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 45px;
    line-height: 61.47px;
    letter-spacing: -0.03em;
}
.blok2__button{
    width: 175px;
    height: 27px;
    margin-bottom: 150px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20ppx;

    border-radius: 5px;
    font-size: 20px;
    font-family: Manrope, sans-serif;
    font-weight: 400;
    line-height: 27.32px ;
    letter-spacing: -0.03em;
    color: white;
    background-color: #AD1818;
    cursor: pointer;
    display: inline-block;   
    text-decoration: none;
}



.blok3{
    margin-left: 125px;
    margin-right: 125px;
    box-sizing: border-box;
}
.blok3__h2{
   margin-bottom: 30px;
   width: 79px;
   height: 25px;
   font-size: 18px;
   line-height: 24.59px;
   letter-spacing: -0.03em;
   font-weight: 400;

}
.blok3Project{
    width: 1150px;
    height: 548px;
    margin-bottom: 90px;
}
.blok3Project__img{
    width: 1150px;
    height:450px;
    margin-bottom: 15px;
}
.blok3Project__h3{
    height: 41px;
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 400;
    line-height: 40.98px;
    letter-spacing: -0.03em;
    display: block;
    
}
.blok3Project__a{
    width: 127px;
    height: 27px;
    font-size: 20px;
    font-weight: 400;
    line-height: 27.32px;
    letter-spacing: -0.03em;
    color: #AD1818;
    text-decoration: none;
}
.blok3__a{
    width: 100%;
    margin-bottom: 150px;
    padding-top: 56px;
    padding-bottom: 56px;
    border: solid 1px;
    border-radius: 5px;
    border-color: #AD1818;
    display:  inline-block;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    line-height: 40.98px;
    letter-spacing: -0.03em;
    color: #AD1818;
    text-decoration: none;
    box-sizing: border-box;
}
.blok3__a:hover{
    color: white;
    background-color: #AD1818;
}
.blok4{
    width: 1400px;
    margin: 0 auto;
    background-color: #121212;
    color: #FFFFFF;
}
.blok4__h2{
    padding-left: 125px;
    padding-top: 151px;
    padding-bottom: 34px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.59px;
    letter-spacing: -0.03em;
}
.blok4__services{
    margin-left: 125px;
    margin-right: 125px;
    margin-bottom: 60px;
}
.blok4__services:nth-last-child(1){
    padding-bottom: 150px;
    margin-bottom: 0;
}
.blok4__h3{
    margin-top: 15px;
    font-size: 30px;
    font-weight: 400;
    line-height: 40.98px;
    letter-spacing: -0.03em;
}




body{
    margin: 0;
    padding: 0;
    background-color: rgba(219, 215, 215, 0.719);
    font-family: Manrope , sans-serif;
    box-sizing: border-box;
    display: block;

}
