@import url(../index.html);
.blok1{
    margin-left: 355px;
    margin-bottom: 150px;
    margin-top: 128px;
    margin-right: 355px;
    width: 1150px;
    height: 650px;

    box-sizing: border-box;
    display: block;

}

.blok1__h1 {
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 30px;
    height: 120px;
    width: 956px;
    font-style: normal;
    letter-spacing: -0.03em;
}
.blok1__img{
    width: 1150px;
    height:500px;
    background-image: url("../img/Rectangle\ 1.png");
    background-size: cover;
}
.blok1__p{

    font-weight: 400;
    font-size: 20px;
    width: 430px;
    height: 81px;
    margin: 0%;  
    padding-left: 40px;
    padding-bottom: 40px;
    padding-right: 680px;
    padding-top: 379px;
    letter-spacing: -0.03em;
    line-height: 27.32px;

    color: white;
    font-style: normal; 
}



.blok2{
    width: 1051px;
    height: 518px;
    margin-left: 355px;
    margin-bottom: 150px ;
    margin-right: 454px;
    box-sizing: border-box;
    display: inline-block;
}
.blok2__h2{
    width: 51px;
    height: 25px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24.59px;
    letter-spacing: -0.03em;
}
.blok2__p{
    width: 1048px;
    height: 366px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 45px;
    line-height: 61.47px;
    letter-spacing: -0.03em;
}
.blok2__button{
    width: 175px;
    height: 27px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    font-size: 20px;
    font-family: Manrope, sans-serif;
    font-weight: 400;
    line-height: 27,32px ;
    letter-spacing: -0.03em;
    color: white;
    background-color: #AD1818;
    cursor: pointer;
    display: inline-block;   
}
body{
    background-color: whitesmoke;
    font-family: Manrope , sans-serif;
}
